{% extends "base.html" %}
{% block title %}Add Book{% endblock %}
{% block content %}
{{ super() }}
<form action="{{ url_for('add') }}" method="POST">
        <div class="w-25 pt-5 container-sm form-group">
        <h4>Title</h4>
            {{ form.csrf_token }}
            {{ form.t(class="form-control") }}
            {% for err in form.t.errors %}
            <span style="color:red">{{ err }}</span>
            {% endfor %}
        </div>
        <div class="w-25 pt-3 container-sm form-group">
        <h4>Author</h4>
            {{ form.a(class="form-control") }}
            {% for err in form.a.errors %}
            <span style="color:red">{{ err }}</span>
            {% endfor %}
        </div>
        <div class="w-25 pt-3 container-sm form-group">
        <h4>Rating</h4>
            {{ form.r(class="form-control") }}
            {% for err in form.r.errors %}
            <span style="color:red">{{ err }}</span>
            {% endfor %}
        </div>
        <div class="w-25 pt-3 container-sm form-group">
            <button type="submit" value="Add" class="btn btn-warning">Add Book</button>
        </div>
    </form>
{% endblock %}