{% extends "base.html" %}
{% block title %}My Library{% endblock %}
{% block content %}
{{ super() }}
<div class="w-25 pt-5 container-sm form-group">
    <h4 class="pt-2">Book Name: {{ book.title }}</h4>
    <h4>Current Rating: {{ book.rating }}</h4>
    <form action="" method="POST" class="pt-3">
            {{ form.csrf_token }}
            <h5>New Rating</h5>
            {{ form.value(class="form-control") }}
            {% for err in form.value.errors %}
            <span style="color:red">{{ err }}</span>
            {% endfor %}
        <div class="pt-2 form-group">
            <button type="submit" value="Edit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
{% endblock %}