{% extends "base.html" %}
{% block title %}My Library{% endblock %}
{% block content %}
{{ super() }}
<div class="container-lg bs-example pt-5" data-example-id="panel-without-body-with-table">
        <div class="panel panel-default">
            <h3 class="pb-3">{{ user.name }}'s Library</h3>
            {% if not books_list %}
            <h5 class="pb-3">Library is Empty :(</h5>
            {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>#</th><th>Id</th><th>Title</th><th>Author</th><th>Rating</th><th></th><th></th>
                </tr>
                </thead>
                <tbody>
                    {% for book in books_list %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th><td>{{ book.id }}</td><td>{{ book.title }}</td><td>{{ book.author }}</td><td>{{ book.rating }}</td>
                        <td><a href="/edit/{{ book.id }}" type="button" class="btn btn-warning">Edit Rating</a></td><td><a href="/delete/{{ book.id }}" type="button" class="btn btn-danger">Delete Book</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <a href="{{ url_for('add') }}"type="button" class="btn btn-primary">Add Book</a>
        </div>
    </div>

    <div class="align-content-center">

    </div>
{% endblock %}