{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form action="" method="POST">
    <div class="w-25 container-sm text-center pb-3 mt-5 pt-5">
        <h1>My Library</h1>
    </div>
    <div class="w-25 container-sm align-center pb-3">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="w-25 container-sm align-center">
        {{ form.password.label }} {{ form.password(type="password", class="form-control") }}
    </div>
    <div class="w-25 container-sm text-center">
    {% with message = get_flashed_messages() %}
    {% if message %}
        <p style="color:red">{{ message[0] }}</p>
    {% endif %}
    {% endwith %}
    </div>
    <div class="d-flex pt-3 justify-content-center form-group">
        <button type="submit" value="Login" class="btn btn-warning">Login</button>
    </div>
</form>
{% endblock %}